<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>example</title>
    <link rel='stylesheet' href='..//assets/css/sleepykitten.css'>
</head>

<body>
        <h1>Sleepy Kitten</h1>
        <div class="floatleft margin">
            <i class="fa-solid fa-location-dot"></i>
            <p class="p"><span>Adresse: </span>198 West 21th Street.</p>
            <p class="p">Suite 721 New York NY 10016</p>
        </div>
        <div class="floatleft">
            <i class="fa-solid fa-phone"></i>
            <p class="p"><span>Phone: </span><span class="blue">+ 1235 2355 98</span></p>
        </div>
        <div class="floatleft">
            <i class="fa-solid fa-paper-plane"></i>
            <p class="p"><span>Email:</span><span class="blue">info@yoursite.com</span></p>
        </div>
        <div class="floatleft">
            <i class="fa-solid fa-globe"></i>
            <p class="p"><span>Website</span><span class="blue"> yoursite.com</span></p>
        </div>

        <div class="clear"></div>

        <form class="floatleft">
            
            <h2>Contact Us</h2>
            <p class="pform pnel">Full Name</p>
            <p class="pform pner">Email</p>

            <br>

            <label for="fullname"></label>
            <input type="text" id="fullname" placeholder="Name" required>
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email" required>

            <br>
            <p class="pform pnel">Subject</p>
            <br>
            <label for="subject"></label>
            <input type="text" id="subject" placeholder="Subject">

            <br>
            <label for="message"></label>
            <p class="pform pnel">Message</p>
            <br>
            <textarea id="message" cols="100" rows="10" placeholder="Message"></textarea>
            <br>
            <input type="submit" id="sendmessage" value="Send Message">
        </form>

        <img src="..//assets/img/img.jpg" alt="">


    <script src="https://kit.fontawesome.com/4322dd2177.js" crossorigin="anonymous"></script>
    <script src='assets/main.js'></script>
</body>

</html>