<!DOCTYPE html>
<html lang="fr">
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>example</title>
    <link rel='stylesheet' href='..//assets/css/no border.css'>   
</head>

<body>

    <p class="uppercase">login to your account</p>
    
    <form>
        
                <br>
            <label for="firstname"></label>
            <input type="text" id="firstname" placeholder="First Name" required>

            <br>

            <label for="lastname"></label>
            <input type="text" id="lastname" placeholder="Last Name" required>

            <br>

            <label for="email"></label>
            <input type="email" id="email" placeholder="Email">

            <br>

            <label for="website"></label>
            <input type="url" id="website" placeholder="Website">

            <br>

            <input type="checkbox" id="accept">
            <label for="accept">Remember me</label>

            <br>

            <label for="login"></label>
            <input type="submit" id="login">
    </form>

<script src="https://kit.fontawesome.com/4322dd2177.js" crossorigin="anonymous"></script>
<script src='assets/main.js'></script>
</body>
</html>


